#container-count-per-page {
    padding: 0 0 10px 5px;
}
.main-table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.main-table tbody td:not(:first-of-type) {
    min-width: 75px
}

.main-table td, .main-table th {
    border: 1px solid black;
    padding: 10px;
}

.main-table thead tr {
    background-color: #ccc;
}

.main-table td.user-id {
    background-color: bisque;
}

#pages .pages-button {
    margin: 0 3px;
}

.paginator-label {
    float: left;
}

#pages {
    float: left;
}

#paginator-container {
    margin: 15px 5px;
}

form label {
    display: block;
    float: left;
    width: 100px;
}
form > div {
    margin-bottom: 5px;
}